/*css全局样式*/
.w{
	width: 1040px;
	margin: 0 auto;
	/*background-color: red;*/
}
/*==============top开始============================*/
.top{
	height: 38px;
	border-bottom: 1px solid #E4E7EA;
	z-index: 3;
	position: relative;
}
.logo{
	display: inline-block;
	position: absolute;
	z-index: 3;
}
.logo .line{
	display: inline-block;
	height: 20px;
	color:#D2D7E3 ;
}
span{
	display: inline-block;
	width: 1px;
	height: 20px;
	border-left: 1px solid #D2D7E3;
	vertical-align: middle;
}
#cf{
	display: inline-block;
	position: relative;
	left: 22%;
}
#cff{
	display: none;
	position: absolute;
	top: 0px;
	left: -80%;
}
.top_r{
	float: right;
	display: inline-block;
	margin-right: 30px;
	line-height: 38px;
	z-index: 3;
	position: absolute;
	left: 70%;
}
.top_r .growup{
	float: left;
}
.top_r .growup i{
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background: url(../images/jinglingtu1.png) no-repeat 0 0;
}
.top_r #tencentgame{
	float: left;
	margin-left: 30px;
	cursor: pointer;
	position: relative;
}
.top_r #tencentgame em{
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 1px solid #707E91;
	vertical-align: middle;
	transform: rotate(90deg);
	text-indent: 3px;
	line-height: 11px;
	font-family: simsun;
}
.top_r #tencentgame:hover{
	color: red;
}
.top_r #tencentgame #detail{
	position: absolute;
	top: 40px;
	right: 0px;
	width: 700px;
	height: 465px;
	display: none;
}
.top_r #tencentgame #detail:hover{
	display: block;

}
/*==================top结束============================*/
/*=============腾讯游戏平台nav开始=====================*/
.navtop{
	margin-top: 1px;
	height: 84px;
	background-color: #272B2E;
	border-top:1px solid #C9C9C9 ;
	border-bottom:1px solid #714E14 ;
	line-height: 84px;
}
.w .navtop_r{
	float: right;
}
.w .navtop_r li{
	float: left;
	line-height: 84px;
}
.w .navtop_r li{
	padding:0 15px;
	position: relative;
}
.w .navtop_r li a{
	display: block;
	height: 54px;
	color: #5E84A4;
	font: 16px  "微软雅黑";
	padding-top: 30px;         /* 次处用padding比较好 */
}
.w .navtop_r li a:hover{
	color:#52B3FF;
}
.w .navtop_r li .current{
	display: inline-block;
	height: 5px;
	width: 32px;
	background-color: #0486EB;
	position: absolute;
	top:0px;
	left:15px;
}
 .w .navtop_r li b{
	display: inline-block;
	height: 5px;
	width: 0px;
	background-color: #0486EB;
	position: absolute;
	top:0px;
	left:15px;
} 
/*==============腾讯游戏平台nav结束=====================*/
/*=================二维码开始==========================*/
.ewm{
	width: 168px;
	height: 200px;
	background-color: white;
	position:fixed;
	top: 100px;
	/*margin-left: 88%;*/
	margin-left: 1179px;
	z-index: 100;
	border: 1px solid #e4dfdf;
}
.ewm3{
	position: relative;
}
.ewm span{
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: -16px;
	right: 168px;
	text-align: center;
	border: 1px solid #c1b1b1;
	color: gray;
	font-family: "微软雅黑";
	background-color:#fff;
	cursor: pointer;
}
.ewm p{
	text-align: center;
	color: red;
	font-size: 16px;
	margin-top: 15px;
	font-weight: 900;

}
.ewm img{
	width: 146px;
	height: 146px;
	margin: 10px;
}
/*=================二维码结束===========================*/
/*=================轮播图开始===========================*/
.all{
	height: 413px;
	 background-color: pink;
	position: relative;
}
 .screen {
    width:1920px;
    height: 413px;
    position: relative;
     left:50%;
	margin-left: -1000px;
	 overflow: hidden; /* //轮播图超出隐藏测试用勿删除 */
    
}

.screen ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 15360px;
}
.screen li{
	 float: left;
}
.screen .down{
	position: absolute;
	width: 255px;
	height: 63px;
	background: url(../images/down.png);
	left: 500px;
	bottom: 100px;
	background-color: red;
	opacity: 0.5;
	cursor: pointer;
}
.screen ol{
	position: absolute;
	bottom: 30px;
	left: 500px;
}
.screen ol li {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: red;
	border-radius: 40%;
	margin: 0 5px;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
}
/*=================轮播图结束===========================*/
/*=================新闻中心开始=========================*/
.news{
	height: 43px;
	color: #5C5C5C;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-top: 10px;
			/*background-color: purple;*/
}
.news .new,.more,.car{
	display: inline-block;
	line-height: 50px;
}
.news .new b{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/jinglingtu1.png) -20px 0;
	vertical-align: middle;
}
.news .more{
	width: 86px;
	height: 29px;
	float: right;
	margin-right: 365px;
	background-color: #3EACFE;
	margin-top: 10px;
	line-height: 29px;
	border-radius:10px; 
	text-align: center;
}
.news .more a{
	color: white;
	font-family: "微软雅黑";
	font-size: 14px;
}
.news i{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/jinglingtu1.png) -36px 0;
}
.news .car{
	float: right;
	margin-right: -250px;
	vertical-align: middle;
}
.list{
	width: 677px;
	height: 278px;
	margin-top: 30px;

}
.list .click{
	float: left;
	margin-right: 20px;
}
.list .tab{
	width: 412px;
	height: 278px;
	          /*background-color: gray;*/
	float: left;
}
/*---------------tab栏目开始----=-----*/
.list .tab .topic{
	width: 415px;
	height: 40px;
}
.list .tab .topic em{
	display: inline-block;
	width: 103px;
	height: 40px;
	font: 16px/40px "微软雅黑";
	text-align: center;
	background-color:#CEDCED;
	cursor: pointer;
	margin-top: 0px;
}
.list .tab .topic em:hover{
	color: blue;
}
.list .content li{
	text-indent: 3em;
	color: #44474E;
}
.list .content li a{
	display: block;
	color: #44474E;
}

/*tal栏目当前的样式*/
.list .tab .topic .current{
	border-top:2px solid #009CFF ;
	background-color: white;
	color: blue;
	margin-top: -2px;
}
.list  .content  .tittl{
	color: #009CFF;
	font-family: "微软雅黑";
	line-height: 50px;
}
.list .content li{
	display: none;

}
.list .content .now{
	display: block;
	width: 412px;
	margin-top: 0px;
}
/*功能直通车下面的额图片*/
.sixcar{
	width: 214px;
	height: 632px;
	float: right;
	margin-top: -280px;
	margin-right: 80px;
}
.sixcar img{
	padding-bottom: 5px;
	cursor: pointer;
}
.sixcar img:hover{
transform:scale(1.2,1.2);
transition:transform 0.5s;
}
/*==================新闻中心结束=========================*/
/*==================最新活动开始==========================*/
.w .activity1{
	height: 330px;
	width: 705px;
					/*background-color: pink;*/
	margin-top: 15px;
	position: relative;

}
.newactivity {
	padding-top: 20px;
}
.newactivity b{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/jinglingtu1.png) -52px 0;

}
.newactivity em{
	font-size: 16px;
	color: #5C5C5C;
	margin-left: 5px;
	font-family: "微软雅黑";
}
.newactivity i{
	float: right;
	width: 86px;
	height: 29px;
	background-color: #3EACFE;
	line-height: 29px;
	border-radius:10px; 
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
}
.newactivity i a{
	color: white;
}
.fun {
	position: relative;
}
.fun img{
	margin-top: 28px;
	float: left;
	cursor: pointer;
}
.fun  i{
	width: 243px;
	background:rgba(16,16,16,0.72);
	position: absolute;
	bottom: -289px;
	left: 0;
	height: 0;

}
.fun  i a{
	line-height: 35px;
	color: white;
	font-size: 16px;
	margin-left: 15px;
	font-family: "微软雅黑";
}
.fun1{
	float: left;
	width: 462px;
}
.fun1 li{
	float: right;
}
.fun1 li img{
	margin:20px 25px 0px 0px;
	cursor: pointer;
}
.fun1 li img:hover{
transform:scale(1.2,1.2);
transition:transform 0.5s;
}
/*==================最新活动结束==========================*/
/*===========新游关注榜  热门视频  合作伙伴开始===========*/
.newnew{
	height: 320px;
	margin-top: 50px;
}
.w{
	position: relative;

}
.newnew .w b{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/jinglingtu1.png) -68px 0;
    margin-right: 5px;
}
.focus{
	font-size: 16px;
    color: #5C5C5C;
    font-family: "微软雅黑";
}	
.newnew .focus1{
	display: inline-block;
	width: 250px;
	height: 280px;
	margin-top: 15px;
}
.newnew .focus1 li{
	font: 900 16px "微软雅黑";
	height: 47px;
	line-height: 47px;
	position: relative;
}
.focus1 li i{
	display: block;
	position: absolute;
	height: 45px;
	width: 1px;
	opacity: 0.7;
} 
.focus1 li em{
	height: 45px;
	width: 20px;
	background-color: orange;
	margin-left: 15px;
	z-index: 5px;
	position: absolute;
	left: -3px;
	font-size: 10px;
	margin-top: 0px;
	text-align: center;

}

.focus1 li a{
	display: inline-block;
	margin-left: 20px;
	z-index: 5px;
	position: absolute;
	top:-2px;
	left: 45px;

}
 .focus1 li .span{
 	display: inline-block;
	width: 38px;
	height: 25px;
	text-decoration: none;
	margin-left: 25px;
	font-size: 14px;
	background-color: blue;
	text-align: center;
	line-height: 25px;
	z-index: 5px;
	position: absolute;
	top:10px;
	left: 160px;

}
.newnew .focus2{
	display: inline-block;
	width: 680px;
	height: 280px;
	position: absolute;
	top: 35px;
	right: 75px;
	overflow: hidden;
}

.newnew .focus2 ul{
	width: 680px;
}
.newnew .focus2 li{
	height: 280px;
	width: 136px;
	float: left;
}
/*===============新游关注榜  热门视频  合作伙伴结束===================*/
/*end开始*/
.end{
	height: 170px;
	background-color: red;
	text-align: center;
	margin-top: 50px;
	background-color: #181C23;
	color: #5F697D;
}

.link{
	cursor: pointer;
	padding-top: 30px;
}
.copy{
	padding:10px  0;
}
/*end结束*/